.link {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  margin: 0 0.2rem;
  padding: 0.5rem 1rem;
  border-radius: 18px;
  transition: all 0.5s;
}

.link > a {
  text-decoration: none;
  color: var(--fg-primary);
}
.login {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
  border-radius: 8px;
}

.signup {
  border: 1px solid hsl(var(--border));
  border-radius: 8px;
}

.active {
  background-color: hsl(var(--secondary));
  color: hsl(var(--secondary-foreground));
}
